@import "reset.scss";


@font-face {
	font-family: "Exo_2";
	src: url("../fonts/Exo2ExtraLight.ttf");
}

*, *:after, *:before {
	box-sizing: border-box;
}

body, html {
	font-size: 12px;

	@media (min-width: 360px) {
		font-size: 14px;
	}
	
	@media (min-width: 768px) {
		font-size: 16px;
	}

	@media (min-width: 1024px) {
		font-size: 18px;
	}

	@media (min-width: 1366px) {
		font-size: 20px;
	}

}

@import "preloader.scss";

.wrapper {
	height: 100vh;
	white-space: nowrap;
	overflow: hidden;
	background-color: yellow;
	position: relative;

	&__background {
		width: 500%;
		height: 100vh;
		left: 0;
		position: absolute;
		background: url(../img/main_bg.jpg);
		background-repeat: repeat-x;
		background-size: auto 100%;
		background-position: 0;
		transition: left 1s, transform 1s;
	}

	&__container {
		transition: margin-left 1s, transform 1s;
		display: flex;
		flex-wrap: nowrap;
		width: 500%;
	}
}

.section {
	height: 100vh;
	flex: 0 0 20%;
	text-align:center;
	font: 2.5rem "Exo_2";
	font-weight: bold;
	color: #f3f3f3;
	position: relative;
}

.title {
	border-left: 0.25rem solid #fff;
	position: absolute;
	padding: .5rem 2rem;
	top: 1rem;
	left: 1rem;
}

.picture-wrapper {
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	height: 100vh;
	position: absolute;
	transition: transform 1s;

	&__image {

		width: auto;
		height: 100vh;
	
		&_big-star {
			height: 65vh;
		
			@media (orientation: portrait) {
				width: 100%;
				height: auto;
			}
		}

		&_small-cubs {
			height: auto;
			width: 150%;
		}

		&_middle-cubs {			
			height: auto;
			width: 150%;
			
		}

		&_big-cubs {
			width: 130%;
		}

		&_small-cubs-2 {
			width: 140%;
			height: auto;
		}

		&_middle-cubs-2 {
			height: auto;
			max-width: 100%;
			max-height: 100vh;
		}

		&_big-cubs-2 {
			height: auto;
			width: 130%;
			max-height: 90vh;
		
			@media (orientation: portrait) {
				height: auto;
				width: 130%;
			}
		}

		&_abstract-girl {
			min-height: 90vh;

			@media (orientation: portrait) {
				min-height: auto;
				height: auto;
				width: 130%;
			}
		}

		&_pink-brash {
			height: 50vh;
			margin: auto 0 0 auto;


			@media (orientation: portrait) {
				height: auto;
				width: 60%;
			}
		}

		&_butterfly {
			margin: auto 0 0 auto;
			height: auto;
			max-height: 100vh;
			min-height: 90vh;

			@media (orientation: portrait) {
				max-width: 100%;
			}
		}

		&_rounded-water {
			height: auto;
			max-width: 100%;
			max-height: 120vh;
		}

		&_tall-girl {
			height: 90vh;
			margin: 10vh auto 0 auto;
		}

		&_nodes {
			height: auto;
			max-height: 80vh;
			max-width: 100%;
		}

		&_horse {
			height: auto;
			min-height: 80vh;
			max-height: 100vh;
		}

		&_chess {
			height: auto;
			max-height: 90vh;
			max-width: 100%;
		}

		&_fireworks {
			height: auto;
			max-height: 80vh;
			max-width: 100%;
		}

		&_deadpool {
			height: auto;
			max-height: 40vh;
			max-width: 100%;
			margin: auto 0 0 0;
		}

		&_browsers {
			height: auto;
			max-height: 80vh;
			max-width: 100%;
		}

		&_technologies {
			height: auto;
			max-height: 80vh;
			max-width: 100%;
		}
	}
}


.phrase {
	font-size: 5rem;
	position: absolute;
	display: block;
	top: 65%;
	left: 5%;
	z-index: 8;
	text-shadow: 0.25rem 0.1rem 0.25rem #ffa04099, -0.25rem -0.1rem 0.25rem #ffa040a8;
	transition: left 1s, transform 1s;
	color: #fff0;
	letter-spacing: 0.5rem;
	text-transform: uppercase;

	&_blured {

	}
}

